<div
  [formGroup]="EmployeeForm"
  class="p-6 max-w-4xl mt-5 mx-auto bg-white rounded-lg shadow-md"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Username -->
    <div *ngIf="!isEdit">
      <label for="username" class="block text-gray-700 font-semibold mb-2"
        >Username</label
      >
      <input
        id="username"
        type="text"
        placeholder="Enter employee username"
        formControlName="username"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('username')?.invalid &&
          (EmployeeForm.get('username')?.touched ||
            EmployeeForm.get('username')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('username')?.errors?.['required']">
          Username is required.
        </div>
        <div *ngIf="EmployeeForm.get('username')?.errors?.['minlength']">
          Username must be at least 3 characters long.
        </div>
      </div>
    </div>

    <!-- Password -->
    <div *ngIf="!isEdit">
      <label for="password" class="block text-gray-700 font-semibold mb-2"
        >Password</label
      >
      <input
        id="password"
        type="password"
        placeholder="Enter employee password"
        formControlName="password"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('password')?.invalid &&
          (EmployeeForm.get('password')?.touched ||
            EmployeeForm.get('password')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="EmployeeForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>

    <!-- Name -->
    <div>
      <label for="name" class="block text-gray-700 font-semibold mb-2"
        >Name</label
      >
      <input
        id="name"
        type="text"
        placeholder="Enter employee name"
        formControlName="name"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('name')?.invalid &&
          (EmployeeForm.get('name')?.touched || EmployeeForm.get('name')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('name')?.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="EmployeeForm.get('name')?.errors?.['minlength']">
          Name must be at least 2 characters long.
        </div>
      </div>
    </div>

    <!-- Salary -->
    <div>
      <label for="salary" class="block text-gray-700 font-semibold mb-2"
        >Salary</label
      >
      <input
        id="salary"
        type="number"
        placeholder="Enter salary"
        formControlName="salary"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('salary')?.invalid &&
          (EmployeeForm.get('salary')?.touched ||
            EmployeeForm.get('salary')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('salary')?.errors?.['required']">
          Salary is required.
        </div>
        <div *ngIf="EmployeeForm.get('salary')?.errors?.['min']">
          Salary must be a positive number.
        </div>
      </div>
    </div>

    <!-- Email -->
    <div>
      <label for="email" class="block text-gray-700 font-semibold mb-2"
        >Email</label
      >
      <input
        id="email"
        type="email"
        placeholder="Enter email"
        formControlName="email"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('email')?.invalid &&
          (EmployeeForm.get('email')?.touched ||
            EmployeeForm.get('email')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="EmployeeForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
    </div>

    <!-- Address -->
    <div>
      <label for="address" class="block text-gray-700 font-semibold mb-2"
        >Address</label
      >
      <input
        id="address"
        type="text"
        placeholder="Enter address"
        formControlName="address"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('address')?.invalid &&
          (EmployeeForm.get('address')?.touched ||
            EmployeeForm.get('address')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('address')?.errors?.['required']">
          Address is required.
        </div>
      </div>
    </div>

    <!-- Phone -->
    <div>
      <label for="phone" class="block text-gray-700 font-semibold mb-2"
        >Phone</label
      >
      <input
        id="phone"
        type="text"
        placeholder="Enter phone"
        formControlName="phone"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          EmployeeForm.get('phone')?.invalid &&
          (EmployeeForm.get('phone')?.touched ||
            EmployeeForm.get('phone')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('phone')?.errors?.['required']">
          Phone number is required.
        </div>
        <div *ngIf="EmployeeForm.get('phone')?.errors?.['pattern']">
          Phone number must be 10 digits long.
        </div>
      </div>
    </div>

    <!-- Department -->
    <div>
      <label for="department" class="block text-gray-700 font-semibold mb-2"
        >Department</label
      >
      <select
        id="department"
        formControlName="departmentId"
        (change)="onDepartmentChange($event)"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option *ngFor="let item of departments" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
      <div
        *ngIf="
          EmployeeForm.get('departmentId')?.invalid &&
          (EmployeeForm.get('departmentId')?.touched ||
            EmployeeForm.get('departmentId')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('departmentId')?.errors?.['required']">
          Department is required.
        </div>
      </div>
    </div>

    <!-- Manager Employees -->
    <div>
      <label
        for="departmentEmployees"
        class="block text-gray-700 font-semibold mb-2"
        >Manager Employees</label
      >
      <select
        id="departmentEmployees"
        formControlName="managerId"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option *ngFor="let item of departmentEmployees" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>

    <!-- Role -->
    <div>
      <label for="role" class="block text-gray-700 font-semibold mb-2"
        >Role</label
      >
      <select
        id="role"
        formControlName="role"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="0">Employee</option>
        <option value="1">Admin</option>
        <option value="2">SuperAdmin</option>
      </select>
      <div
        *ngIf="
          EmployeeForm.get('role')?.invalid &&
          (EmployeeForm.get('role')?.touched || EmployeeForm.get('role')?.dirty)
        "
        class="text-red-500 mt-2"
      >
        <div *ngIf="EmployeeForm.get('role')?.errors?.['required']">
          Role is required.
        </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="text-center mt-6 flex justify-center space-x-4">
    <button
      *ngIf="!isEdit"
      (click)="addEmployee()"
      [disabled]="EmployeeForm.invalid"
      class="bg-green-600 text-white px-6 py-3 rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Save
    </button>
    <button
      *ngIf="isEdit"
      (click)="updateEmployee()"
      [disabled]="EmployeeForm.pristine"
      class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Update
    </button>
  </div>

  <p-toast />
</div>
