body{
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 190px;
    border-bottom:0.5px solid lightgray;
}

.logo-image{
    width: 135px;
    height: 19px;
}

.brand-name{    
    text-color: blue
}

.navbar-components {
    display: flex;
    gap : 45px;
}

.navbar-components div {
    display: flex;
    gap : 20px;
    color: gray;
}

.landing-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 85px;
}

.landing-image img{
    width: 780px;
    height: 340px;

}

.branding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 50px;
    font-weight: 120;
}

h3 {
    color: gray;
    font-weight: 120;
}

a{
    text-decoration: none;
}

button {
    background-color: #4169E1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5%;
  
}

.largest-broker {
    display: flex;
    margin: 20px 300px;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 700px;
    gap: 80px;
    padding-top: 100px;
}

.largest-broker-heading {
    font-size:35px;
    font-weight: normal;
}

.largest-broker-image {
    width: 400px;
    height: 400px;
}

.press-logo{
    height: 30px;
    width: 600px;
}

.points {
    display: flex;
    gap: 10px;
}

.grid-container {
    gap: 10px;
}

.grid-item {
    padding: 8px;
 }

.unbeatable-section {
    display: flex;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
} 
 .unbeatable-pricing {
    display: flex;
    gap: 18px;  
    display: flex;
    max-width: 100%;
    flex-direction: column;
    max-width: 400px;   
 }

 .unbeatable-pricing-heading{
    font-size: 30px;
}

.unbeatable-pricing-bio{
    color: gray;
}

.pricing-table{
    display: flex;
    flex-direction: row;
}

.pricing-table-item{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.index-education{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.index-education-heading{
    font-size: 30px;
    padding-bottom: 10px;
}

.index-education-div{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
}

