<div
  class="flex items-center justify-center min-h-screen bg-black-100"
  style="
    background-image: url('/assets/medium-shot-colleagues-working-together.jpg');
    background-size: cover;
    background-position: center;
  "
>
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-medium mb-2"
          >Username</label
        >
        <input
          type="text"
          id="username"
          formControlName="username"
          name="username"
          [appFormError]="loginForm.controls.username"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none"
          required
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-medium mb-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          name="password"
          [appFormError]="loginForm.controls.password"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none"
          required
        />
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-full bg-blue-600 text-white py-2 rounded-lg transition-colors duration-300 hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        Login
      </button>
    </form>
  </div>
</div>

<p-toast></p-toast>
