<div class="p-4 bg-gray-100 rounded shadow-md">
    <input type="text" [formControl]="name"
        class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Department Name">
    <div class="flex justify-end mt-4" *ngIf="requesting">
        <button mat-button mat-dialog-close
            class="mr-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
            Cancel
        </button>
        <button mat-button (click)="addDepartment()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Save
        </button>
    </div>

    <div class="flex justify-end mt-4" *ngIf="!requesting">
        <p>Requesting!</p>
    </div>
</div>