<div [formGroup]="projectForm" class="flex flex-col lg:flex-row gap-12">
  <!-- Project Form -->
  <div class="bg-white shadow-xl rounded-lg p-8 lg:p-12 lg:w-2/3">
    <div class="space-y-6">
      <!-- Project Name -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2"
          >Project Name</label
        >
        <input
          type="text"
          placeholder="Enter project name"
          formControlName="name"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all duration-200"
        />
        <div
          *ngIf="
            projectForm.get('name')?.invalid &&
            (projectForm.get('name')?.touched || projectForm.get('name')?.dirty)
          "
          class="text-red-500 mt-2"
        >
          <div *ngIf="projectForm.get('name')?.errors?.['required']">
            Project Name is required.
          </div>
          <div *ngIf="projectForm.get('name')?.errors?.['minlength']">
            Project Name must be at least 3 characters long.
          </div>
        </div>
      </div>

      <!-- Project Description -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2"
          >Project Description</label
        >
        <textarea
          placeholder="Enter project description"
          formControlName="description"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all duration-200 h-28 resize-none"
        ></textarea>
        <div
          *ngIf="
            projectForm.get('description')?.invalid &&
            (projectForm.get('description')?.touched ||
              projectForm.get('description')?.dirty)
          "
          class="text-red-500 mt-2"
        >
          <div *ngIf="projectForm.get('description')?.errors?.['required']">
            Description is required.
          </div>
          <div *ngIf="projectForm.get('description')?.errors?.['minlength']">
            Description must be at least 10 characters long.
          </div>
        </div>
      </div>

      <!-- Project Status -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2"
          >Project Status</label
        >
        <select
          formControlName="status"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all duration-200"
        >
          <option value="0">Pending</option>
          <option value="1">Active</option>
        </select>
      </div>

      <button
        (click)="addEmployeeDialog()"
        class="w-full px-4 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all duration-200"
      >
        Add Employees
      </button>
    </div>

    <button
      (click)="save()"
      [ngClass]="{
        'bg-green-500 hover:bg-green-600': !(
          projectForm.pristine || projectForm.invalid
        ),
        'bg-gray-400 cursor-not-allowed':
          projectForm.pristine || projectForm.invalid
      }"
      class="mt-8 w-full px-4 py-3 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 transition-all duration-200"
    >
      Save Project
    </button>
  </div>

  <!-- Employee List -->
  <div
    formArrayName="members"
    class="bg-gray-50 shadow-lg rounded-lg p-6 lg:p-8 lg:w-1/3"
  >
    <div class="text-xl font-semibold text-gray-700 mb-4">Employees Added</div>
    <div
      *ngIf="
        projectForm.get('members')?.invalid &&
        (projectForm.get('members')?.touched ||
          projectForm.get('members')?.dirty)
      "
      class="text-red-500 mb-4"
    >
      <div *ngIf="projectForm.get('members')?.errors?.['minArrayLength']">
        You must have at least 3 members.
      </div>
    </div>
    <div *ngFor="let item of projectEmployees; let i = index" class="mb-2">
      <div
        class="text-gray-800 bg-white p-3 rounded-lg shadow-sm flex justify-between items-center"
      >
        <div>{{ item.name }}</div>
        <button
          (click)="removeEmployee(item.id)"
          class="bg-red-500 p-2 rounded-md"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast />
