<div>
    <div>
        <h2>Product List</h2>
        <button routerLink="/product/create">Add Product</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <div *ngFor="let item of productList">
            <tbody>
                <tr>
                    <!-- <td>{{item.id}}</td> -->
                    <td>{{item.brandname}}</td>
                    <td>
                        <button [routerLink]="['/productedit', item.id]">Edit</button>
                    </td>
                </tr>
            </tbody>
    

        </div>
    </table>
</div>
