<div class="container mx-auto px-4 py-6">
    <div class="flex justify-between  pb-4">
        <h1 class="text-2xl font-bold">Employees List</h1>
        <button *ngIf="!isAdding" routerLink="/employee/add"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Add
            Employee</button>
    </div>
    <div class="flex justify-center p-10 gap-2">
        <input type="text" placeholder="search" class="p-2 w-[300px] border border-black"
            [(ngModel)]="paginationData.search">
        <button class="bg-blue-500 p-2 px-4 rounded-md text-white" (click)="handleSearch()">Search</button>
    </div>
    <table matSort (matSortChange)="sortData($event)"
        class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead>
            <tr>
                <th class="px-4 py-2 border-b border-gray-300 text-left">ID</th>
                <th mat-sort-header="Name" class="px-4 py-2 border-b border-gray-300 text-left">Name</th>
                <th mat-sort-header="DepartmentId" class="px-4 py-2 border-b border-gray-300 text-left">Department ID
                </th>
                <th class="px-4 py-2 border-b border-gray-300 text-left">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employees; let i = index" class="hover:bg-gray-100">
                <td class="px-4 py-2 border-b border-gray-200">{{ i + 1 }}</td>
                <td class="px-4 py-2 border-b border-gray-200">{{ item.name }}</td>
                <td class="px-4 py-2 border-b border-gray-200">{{ item.departmentName || 'none'}}</td>
                <td class="px-4 py-2 border-b border-gray-200 flex space-x-2">
                    <div *ngIf="!isAdding">
                        <button routerLink="/employee/edit/{{ item.id }}"
                            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            Edit
                        </button>
                        <button (click)="deleteEmployee(item.id)"
                            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
                            Delete
                        </button>
                    </div>
                    <div *ngIf="isAdding">
                        <button *ngIf="!exsistInArray(item.id)" (click)="addEmployeeInProject(item.id)"
                            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
                            +
                        </button>
                        <button *ngIf="exsistInArray(item.id)" (click)="removeEmployeeInProject(item.id)"
                            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
                            -
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="px-12">
    <mat-paginator [length]="totalItems" [pageSize]="paginationData.pagedItemsCount"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" [hidePageSize]="" (page)="onPageEvent($event)">
    </mat-paginator>
</div>