<div
  class="flex flex-col w-[200px] h-full min-h-full bg-gradient-to-b from-slate-600 to-slate-500 shadow-lg rounded-r-xl"
>
  <div class="flex flex-col px-4 py-6 text-white gap-6">
    <div>
      <div class="text-lg font-semibold mb-4">Menu</div>
      <button
        *ngIf="role === 1 || role === 2 || isManager === true"
        routerLink="/department"
        class="flex items-center gap-3 p-3 rounded-lg hover:bg-slate-700 transition-colors"
      >
        <mat-icon>menu</mat-icon>
        Department
      </button>
      <button
        *ngIf="role === 1 || role === 2 || isManager === true"
        routerLink="/employee"
        class="flex items-center gap-3 p-3 rounded-lg hover:bg-slate-700 transition-colors"
      >
        <mat-icon>badge</mat-icon>
        Employee
      </button>
      <button
        routerLink="/project"
        class="flex items-center gap-3 p-3 rounded-lg hover:bg-slate-700 transition-colors"
      >
        <mat-icon>description</mat-icon>
        Project
      </button>
      <button
        routerLink="/profile"
        class="flex items-center gap-3 p-3 rounded-lg hover:bg-slate-700 transition-colors"
      >
        <mat-icon>person</mat-icon>
        Profile
      </button>
    </div>
    <div class="mt-auto">
      <button
        routerLink="/"
        (click)="logout()"
        class="flex items-center gap-3 p-3 rounded-lg hover:bg-slate-700 transition-colors"
      >
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </div>
</div>
