<div class="container mx-auto px-4 py-6 flex flex-col">
    <div class="flex justify-between pb-4">
        <h1 class="text-2xl font-bold">Departments List</h1>
        <button (click)="addDepartment()" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700">
            Add Department
        </button>
    </div>
    <div class="flex justify-center p-10 gap-2">
        <input type="text" placeholder="search" class="p-2 w-[300px] border border-black"
            [(ngModel)]="paginationData.search">
        <button class="bg-blue-500 p-2 px-4 rounded-md text-white" (click)="handleSearch()">Search</button>
    </div>
    <table matSort (matSortChange)="sortData($event)" class="min-w-md  bg-white border border-gray-300 rounded-md ">
        <thead>
            <tr>
                <th class="px-4 py-2 border-b border-gray-200 text-left w-[170px]">Sno.</th>
                <th mat-sort-header="Name" class="px-4 py-2 border-b border-gray-200 text-left w-[170px]">Name</th>
                <th class="px-4 py-2 border-b border-gray-200 text-left w-[170px]">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of departments; let i = index" class="hover:bg-gray-100">
                <td class="px-4 py-2 border-b border-gray-200 w-[170px]">{{ i + 1 }}</td>
                <td class="px-4 py-2 border-b border-gray-200 w-[170px]">{{ item.name }}</td>
                <td class="px-4 py-2 border-b border-gray-200 w-[170px]">
                    <button (click)="deleteDepartment(item.id)"
                        class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="px-12">
    <mat-paginator [length]="totalItems" [pageSize]="paginationData.pagedItemsCount"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="onPageEvent($event)">
    </mat-paginator>
</div>