<div *ngIf="!isEdit">
    <form [formGroup]="categoryForm">
        <input type="text" formControlName="name">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categoryForm.controls.subCategory.controls; let i = index"
                        [formGroup]="item">
                        <td>{{i}}</td>
                        <td>
                            <input type="text" formControlName="name">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <button (click)="addSubCategory()">Add Sub Category</button>
    <button (click)="addCategory()">Add category</button>
</div>

<div *ngIf="isEdit">
    <form [formGroup]="categoryForm">
        <input type="text" formControlName="name">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categoryForm.controls.subCategory.controls; let i = index"
                        [formGroup]="item">
                        <td>{{i}}</td>
                        <td>
                            <input type="text" formControlName="name">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button (click)="updateData()">Update</button>
    </form>


</div>